</main>
<footer class="footer">
  &copy; Chouette Maraîcher - <a class="footer-link" href="#">Retour en haut de page</a>
  <a href="/product/top">Produits les mieux notés</a>
</footer>
</body>
</html>